.BookContainer{
    position: relative;
    
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.editOption{
    order:2;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.editClick{
    width: 50%;
}

@media (min-width:721px) {
    .BookContainer{
        /* margin: 10px; */
        margin-right: 25px;
    }
}