.LinkMenuContainer{
    margin: 15px 0;
    height: 49px;
    overflow: hidden;
}

.shown .LinkMenu{
    border-radius: 15px 15px 0 0 ;

}
.LinkMenu-detailContainer{
    display: flex;
    flex-direction: column;

    background-color: var(--bkgColor-formInput);

    border-radius: 0 0 15px 15px;
    border: 1.5px solid #9b9b9b59;
}
.LinkMenu-detail{
    height: 3em;
    width: 100%;
    
    margin: 2px;
    padding-top: 1em;
    padding-left: 15px;

    text-align: left;
    border-radius: 10px;
}
.LinkMenu-detail:hover{    
    background-color: var(--dropdownItem-hover-bkgColor);
}

.shown{
    height: 100%;
    
    animation: showing .8s linear;
}
.notShown{
    height: 49px;

    animation: notShowing .8s linear;
    
}
@keyframes showing {
    0%{
        height: 49px;
    }
    100%{ 
        height: 200px;
    }
}
@keyframes notShowing {
    0%{ 
        height: 200px;
    }
    100%{ 
        height: 49px;

    }
}